<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Advising</title>

    <link rel="stylesheet" href="~/css/Layout.css" />
    <link rel="stylesheet" href="~/css/Generics.css" />

</head>
<body>
    <div id="PageContainer" class="Border">
        <div class="PageRow">
            <div id="TopLogo" class="Border">CWU Student Advising</div>
        </div>

        <div class="PageRow Flex">
            <div class="WideFlex" id="Logout">Logged in as: <span id="CurrentUser">Admin</span> <a href="">[ Logout ]</a></div>
            <div class="WideFlex" id="Navigation">
                <span id="NavLinks">
                    <a href="Index">Advising</a> |
                    <a href="ManageCourses">Course Management</a> |
                    <a href="ManageDegrees">Degree Management</a>
                </span>
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>
