@page
@model IndexModel
@{
    ViewData["Title"] = "Advising";
}

<form method="post">
    <div class="PageRow Flex CenterFlex">
        <div class="Block Border Padded">
            <div class="Title">Login Box</div>
            <div class="Flex CenterFlex">
                <div class="Flex ">
                    <div class="LabelLeft">User Name:</div>
                    <div class="LabelRight"><input type="text" asp-for="Login.Username"/></div>
                </div>
                <div class="Flex">
                    <div class="LabelLeft">Password:</div>
                    <div class="LabelRight"><input type="password" asp-for="Login.Password"/></div>
                </div>
            </div>
            <div><input type="submit" value="Login" class="BigButton" /></div>
        </div>
    </div>
</form>

